# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist
assets/.DS_Store
raw.githubusercontent.com_cotes2020_jekyll-theme-chirpy_master__posts_2019-08-08-text-and-typography.md
