<button id="btn_induction_3_0" class="group1" onclick="showVisualizationGroup1('induction_3_0')">(3,0)</button>
<button id="btn_induction_3_2" class="group1" onclick="showVisualizationGroup1('induction_3_2')">(3,2)</button>
<button id="btn_induction_4_0" class="group1" onclick="showVisualizationGroup1('induction_4_0')">(4,0)</button>
<button id="btn_induction_4_1" class="group1" onclick="showVisualizationGroup1('induction_4_1')">(4,1)</button>
<button id="btn_induction_4_4" class="group1" onclick="showVisualizationGroup1('induction_4_4')">(4,4)</button>
<button id="btn_induction_4_5" class="group1" onclick="showVisualizationGroup1('induction_4_5')">(4,5)</button>
<button id="btn_induction_5_3" class="group1" onclick="showVisualizationGroup1('induction_5_3')">(5,3)</button>

<div id="induction_3_0" class="visualization visualization-group1" style="display: none;">
  {% include posts/interp/induction_3_0.html %}
</div>
<div id="induction_3_2" class="visualization visualization-group1" style="display: none;">
  {% include posts/interp/induction_3_2.html %}
</div>
<div id="induction_4_0" class="visualization visualization-group1" style="display: none;">
  {% include posts/interp/induction_4_0.html %}
</div>
<div id="induction_4_1" class="visualization visualization-group1" style="display: none;">
  {% include posts/interp/induction_4_1.html %}
</div>
<div id="induction_4_4" class="visualization visualization-group1" style="display: none;">
  {% include posts/interp/induction_4_4.html %}
</div>
<div id="induction_4_5" class="visualization visualization-group1" style="display: none;">
  {% include posts/interp/induction_4_5.html %}
</div>
<div id="induction_5_3" class="visualization visualization-group1" style="display: none;">
  {% include posts/interp/induction_5_3.html %}
</div>
