<button id="btn_induction_3_3" class="group2" onclick="showVisualizationGroup2('induction_3_3')">(3,3)</button>
<button id="btn_induction_5_4" class="group2" onclick="showVisualizationGroup2('induction_5_4')">(5,4)</button>
<button id="btn_induction_5_5" class="group2" onclick="showVisualizationGroup2('induction_5_5')">(5,5)</button>

<div id="induction_3_3" class="visualization visualization-group2" style="display: none;">
  {% include posts/interp/attention_3_3.html %}
</div>
<div id="induction_5_4" class="visualization visualization-group2" style="display: none;">
  {% include posts/interp/attention_5_4.html %}
</div>
<div id="induction_5_5" class="visualization visualization-group2" style="display: none;">
  {% include posts/interp/attention_5_5.html %}
</div>
